form.signup {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  
}

.signup-error_ul {
  color: red;
}

.signup-message {
  padding-left: 30%;
  padding-bottom: 10%;
  font-size: 40px;
  color: green;
}

input.signup-form_input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
  font-size: 20px;
  color: green;
}

div.signup-form_inputDiv {
    align-items: flex-end;
}

.signup-btn {
  padding: 10px;
  border-radius: 10px;
}

.already-a-member {
  border: none;
  background: none;
  align-self: center;
  padding-top: 20px;
  color: green;
  font-size: 16px;
  cursor: pointer;
}