

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
  background-image: url("./homePage.png");
  background-repeat: no-repeat;
  height: 500px;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}


.campaign {
  display: flex;
  overflow-y: scroll;
  justify-content: space-between;
  
}

.spacer1 {
  height: 100px;
}

.spacer2 {
  height: 30px;
  background: none;
  visibility: hidden;
  display: inline-flex;
}

.campaigns-div {
  overflow-y: visible;
  padding: 30px;
}

.campaign-comp {
  position: fixed;
  
}
