.profileProfile-div {
  display: flex;
  justify-content: space-around;
  color: rgb(128, 128, 128);
  padding-bottom: 350px;
}

.profile-aboutMe {
  font-size: 23px;
  font-weight: bold;
  padding-bottom: 30px;
}

.campaign-num {
  font-size: 23px;
  font-weight: bolder;
  color: black;
}

.profile-image1 {
  border-style: solid;
  width: 300px;
  height: 200px;
}