@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

* {
  box-sizing: border-box;
}
*:focus {outline:none}

.navbar {
  display: flex;
  justify-content: space-between;
  font-family: benton-sans,Helvetica,"Sans-serif";
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
  color: #2a2a2a;
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.navbar-right {
  padding: 10px;
  justify-content: space-around;
}

.navbar-right > div {
  top: 20px;
  position: absolute;
  border-left: 1px solid #ddd;
  height: 10%;
  content: "";
}

.navbar-right > button {
  border:none;
  background: none;
  padding-left: 20px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0; 
  cursor: pointer;
}

.navbar-right > button:hover,
.navbar-right > button:active {
  color: rgb(8, 160, 8);;
}


.navbar-left {
  display: flex;
  width: 160px;
  height: 24px;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 1px; 
  text-align: center;
  color: rgb(8, 160, 8);
  font-weight: 900;
  text-decoration: none;
}

.navbar-left_navlink {
  width: 160px;
  height: 24px;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 1px; 
  text-align: center;
  color: rgb(8, 160, 8);
  font-weight: 900;
  text-decoration: none;
}


.dropdown {
  border-style:none;
  background: none;
  font-weight: 700;
  font-size: 1rem;
  white-space: nowrap;
  line-height: 1.5;
  letter-spacing: 0; 
  cursor: pointer;
  background-color: none;
  padding-top: 12px;
  padding-left: 30px;
  color: #2a2a2a;
}

.dropdown:hover {
  color: rgb(8, 160, 8);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}
.dropdown-content a:hover {color: rgb(8, 160, 8);}


.search-div {
  padding-left: 30px;
}

.search::-webkit-input-placeholder { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
padding-left: 5px;
padding-top: 2px;
color: #2a2a2a;
}

.search {
  border-style: none;
  border-radius: 5px;
  width: 50px;
  height: 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  align-self: center;
  font-size: 18px;
  cursor: pointer;
  vertical-align: text-top;
  color: green;;
}

.search:focus {
  width: 10000%;
  background-color: whitesmoke;
}