
form.login {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding-bottom: 20%;
}

.login-error_ul {
  color: red;
}

.login-message {
  padding-left: 20%;
  padding-bottom: 20%;
  font-size: 40px;
  color: green;
}

input.login-form_input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
  font-size: 20px;
  color: green;
}

div.login-form_inputDiv {
    padding: 10px;
    align-items: flex-end;
}

.login-btn {
  padding: 10px;
  border-radius: 10px;
}

.not-a-member {
  border: none;
  background: none;
  align-self: center;
  padding-top: 20px;
  color: green;
  font-size: 16px;
  cursor: pointer;
}
